
$accordion-button-active-bg: #DFE6E7 ;
$accordion-button-active-color: #000000 ;
$accordion-icon-active-color: #000000;
$accordion-button-focus-box-shadow: none ;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "carmin": #900
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
