* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-image: url('./assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
}




